@charset "UTF-8";



body {
    background-color: #F5F5F5;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

header{
    background-color: #161B22;
    height: 70px;
    width: 100%;
    display: flex;
    align-self: center;
}

p.header_logo img{
    color: black;
    display: flex;
}

img.logo{
}

.header-txt{
    color: white;
    align-items: stretch;
    white-space: nowrap;
    display: flex;
    align-self: center;
}

a{
    text-decoration: none;
    color: #161B22;
}

.nav-ul{
    background-color: #C0C0C0;
    color: black;
    font-size: 27px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 60px;
    margin: 0px;
}

li{
    list-style: none;
    display: flex;
    flex-basis:14%;
}

main{
    flex: 1;
}

h1{
    display: flex;
    justify-content:center;
}

h2{
    display: flex;
    justify-content:center;
}

h3{
    display: flex;
    justify-content:center;
}

.div.prvideo{
    display: flex;
    justify-content:center;
}

.prvideo{
    width: 40%;
}

.download{
    display: flex;
    justify-content:center;
    text-decoration: underline;
    color: blue;
}

.new_blog{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
}

.LINE{
    display: flex;
    justify-content:center;
}



p{
    display: flex;
    justify-content: center;
}


footer{
    padding: 6px;
    background: #161B22;
    color: white;
}
